*{
    list-view-hover-color: #bdc3c7;
    midnight-blue: #2c3e50;
    belize-hole-blue: #2e8dcd;
    nephritis-green: #27ae60;
    wisteria-purple: #8e44ad;
    pomegranate-red: #c0392b;
    pink-color: #db57db;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
}

.root{
    -fx-background-color: white;
}

#pageTitleLabel{
    -fx-font-size:12pt;
}

.list-cell{
    -fx-background-color: white;
}

.toggle-button:selected{
    -fx-border-color: black;
    -fx-border-width: 3;
}

.list-cell .button{
    -fx-background-color: transparent;
}

.list-cell:filled:hover,
#commandsListView .list-cell:filled:odd:hover{
    -fx-background-color: list-view-hover-color;
}

#categoriesListView,
#simpleCommandsListView{
    -fx-background-insets: 0;
}

#categoriesListView .list-cell,
#simpleCommandsListView .list-cell{
    -fx-cell-size:60;
}

#dialogRoot{
    -fx-background-color: rgba(0, 0, 0, 0.4);
}

#midNightBlueRadioButton{
    -fx-background-color:midnight-blue;
}

#belizeHoleBlueRadioButton{
    -fx-background-color: belize-hole-blue;
}

#nephritisGreenRadioButton{
    -fx-background-color: nephritis-green;
}

#pomegranateRedRadioButton{
    -fx-background-color: pomegranate-red;
}

#wisteriaPurpleRadioButton{
    -fx-background-color: wisteria-purple;
}

#pinkRadioButton{
    -fx-background-color: pink-color;
}

#optionsListView .scroll-bar:horizontal .increment-arrow,
#optionsListView .scroll-bar:horizontal .decrement-arrow,
#optionsListView .scroll-bar:horizontal .increment-button,
#optionsListView .scroll-bar:horizontal .decrement-button,
#formatsListView .scroll-bar:horizontal .increment-arrow,
#formatsListView .scroll-bar:horizontal .decrement-arrow,
#formatsListView .scroll-bar:horizontal .increment-button,
#formatsListView .scroll-bar:horizontal .decrement-button,
#examplesListView .scroll-bar:horizontal .increment-arrow,
#examplesListView .scroll-bar:horizontal .decrement-arrow,
#examplesListView .scroll-bar:horizontal .increment-button,
#examplesListView .scroll-bar:horizontal .decrement-button{
    -fx-padding:0;
}

#settingsHeaderLabel{
    -fx-font-size: 13pt;
    }

