*{
    list-view-hover-color: #bdc3c7;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
}

.root{
    -fx-background-color: white;
}

.list-cell{
    -fx-background-color: white;
}

.list-cell:filled:hover,
#commandsListView .list-cell:filled:odd:hover{
    -fx-background-color: list-view-hover-color;
}

#categoriesListView,
#simpleCommandsListView{
    -fx-background-insets: 0;
}

#categoriesListView .list-cell,
#simpleCommandsListView .list-cell{
    -fx-cell-size:60;
}

#dialogRoot{
    -fx-background-color: rgba(255, 255, 255, 0.8);
}

.list-cell .button{
    -fx-background-color: white;
}